* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}

h1 {
    padding: 1em 0;
    margin: 0;
}

h2 {
    text-align: center;
}

.contentContainer {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    font-size: 18pt;
    margin: auto;
    padding: 20px;
}

a:hover {
    background-color: cornflowerblue;
    color: white;
}