/*
Author: Dylan Snavely
Purpose: First of three stylesheets for PriceCo website. It positions the header and navigation
section above and to the left of the page respectively. The main content of the page (where products go)
takes up the bottom right of the page. Like the other two stylesheets, it positions buttons to change
the style of the page at the bottom left.
*/

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: lightskyblue;
}

/* Header */

#header {
    position: fixed;
    width: 100%;
    background-color: royalblue;
    color: yellow;
}

#pricecoLogo {
    width: 15%;
}

h1 {
    float: right;
    font-size: 80px;
    margin: 1em 0 0 0;
}

/* Navigation section */

#navigation {
    width: 30%;
    position: fixed;
    margin-top: 15%;
    height: 100%;
    background-color: dodgerblue;
    font-size: 25px;
}

.navButton {
    display: block;
    text-align: right;
    margin: 3em 3em 0 0;
}

/* Main content section */

#content {
    margin-left: 30%;
    padding-top: 15%;
    text-align: center;
    font-size: 25px;
}

.productImg {
    width: 200px;
}

/* Style buttons */

.styleButton {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 1em 2em;
    opacity: 70%;
    background-color: dimgray;
    color: white;
}

#styleB {
    margin-left: 8em;
}

#styleC {
    margin-left: 16em;
}