/*
Author: Dylan Snavely
Purpose: Second of three stylesheets for PriceCo website. It positions the header and navigation
section in the middle of the page with content on either side in columns. Each of these columns
scroll independently of the other. Like the other two stylesheets, it positions buttons to change
the style of the page at the bottom left.
*/

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: lightskyblue;
}

/* Header */

#header {
    position: fixed;
    margin-left: 33%;
    width: 33%;
    height: 33%;
    background-color: royalblue;
    color: yellow;
}

#pricecoLogo {
    width: 200px;
}

h1 {
    float: right;
    font-size: 60px;
    margin-right: 20px;
}

/* Navigation section */

#navigation {
    position: fixed;
    margin-left: 33%;
    top: 33%;
    width: 33%;
    height: 100%;
    background-color: dodgerblue;
    font-size: 30px;
}

.navButton {
    display: block;
    text-align: center;
    margin: 2em 0 0 0;
    font-size: 30px;
}

/* Main content */

#content {
    font-size: 25px;
}

.productImg {
    width: 200px;
}

.productGroup {
    text-align: center;
    padding: 0 1em;
}

/* Left column */

#productsColA {
    width: 33%;
    height: 100%;
    position: fixed;
    overflow-y: auto;
}

/* Right column */

#productsColB {
    position: absolute;
    top: 0;
    margin-left: 66%;
}

/* Style buttons */

.styleButton {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 1em 2em;
    opacity: 70%;
    background-color: dimgray;
    color: white;
}

#styleB {
    margin-left: 8em;
}

#styleC {
    margin-left: 16em;
}