* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightskyblue;
}

/* Header */

#header {
    width: 500px;
    height: 500px;
    float: left;
    background-color: mediumblue;
    color: yellow;
}

#navigation {
    width: 500px;
    height: 500px;
    float: right;
    background-color: dodgerblue;
}

/* Main content section */

#content {
    text-align: center;
}

.productImg {
    width: 200px;
}
