* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: lightskyblue;
}

/* Header */

#header {
    width: 500px;
    height: 500px;
    float: left;
    background-color: mediumblue;
    color: yellow;
}

#navigation {
    width: 500px;
    height: 500px;
    float: right;
    background-color: dodgerblue;
}

/* Main content section */

#content {
    text-align: center;
}

.productImg {
    width: 200px;
}

/* Style buttons */

.styleButton {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 1em 2em;
    opacity: 70%;
    background-color: dimgray;
    color: white;
}

#styleB {
    margin-left: 8em;
}

#styleC {
    margin-left: 16em;
}
