* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: lightskyblue;
}

/* Header */

#header {
    position: fixed;
    margin-left: 33%;
    width: 33%;
    height: 33%;
    background-color: mediumblue;
    color: yellow;
}

#pricecoLogo {
    width: 200px;
}

h1 {
    float: right;
}

/* Navigation section */

#navigation {
    position: fixed;
    margin-left: 33%;
    top: 33%;
    width: 33%;
    height: 100%;
    background-color: dodgerblue;
}

.navButton {
    display: block;
    text-align: center;
    margin: 2em 0 0 0;
}

/* Main content */

.productImg {
    width: 200px;
}

.productGroup {
    text-align: center;
    padding: 0 1em;
}

/* Left column */

#productsColA {
    width: 33%;
    height: 100%;
    position: fixed;
    overflow-y: auto;
}

/* Right column */

#productsColB {
    position: absolute;
    top: 0;
    margin-left: 66%;
}

/* Style buttons */

.styleButton {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 1em 2em;
    opacity: 70%;
    background-color: dimgray;
    color: white;
}

#styleB {
    margin-left: 8em;
}

#styleC {
    margin-left: 16em;
}