/*
Author: Dylan Snavely
Purpose: Floats images to the right of paragraphs in sears-tower.html.
         Provides padding for the list at the bottom of the page for better readability.
*/
img {
    float: right;
    margin-left: 2em;
}

td {
    padding-left: 25px
}