/*
Author: Dylan Snavely
Purpose: The stylesheet for the Chatty client. It styles the app controls and the section where
text messages appear.
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

#chatSection {
    height: 70vh;
}

/* Section that houses app controls */

#controlSection {
    padding: 50px 0 0 50px;
    height: 100%;
    background-color: gray;
}

.controlElement {
    margin: 0 0 1em;
}

label, input, button, .chatMessage {
    font-size: 30px;
}