/*
Author: Dylan Snavely
Purpose: Stylesheet for the main page for the website 'Welcome to the Jumble'.
         It positions a sidebar to the left side of the page, as well as two
         content sections, one on top of the other, to the right side of the page.
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Sidebar */

#sidebar {
    font-family: Bahnschrift, sans-serif;
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: slategray;
    color: white;
}

input, button {
    display: block;
    margin: 0 auto 20px;
}

#squareCipher {
    margin: 0 auto;
    font-size: 25px;
    border-collapse: collapse;
}

td {
    padding: 15px;
    border: 2px solid black;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin: 0 0 20px;
    padding: 1em 0 0;
}

/* Main content */

#content {
    position: absolute;
    margin-left: 25%;
    top: 0;
    text-align: center;
    width: 75%;
    height: 100%;
}

.cipherSection {
    font-family: "Courier New", serif;
    font-variant: all-small-caps;
    height: 50%;
    font-size: 100px;
}

#caesarCipherSection {
    background-color: lightgreen;
}

#squareCipherSection {
    background-color: skyblue;
}