* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#sidebar {
    font-family: Bahnschrift, sans-serif;
    width: 25%;
    height: 100%;
    background-color: slategray;
    color: white;
}

input, button {
    display: block;
    margin: 0 auto 20px;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin: 0 0 20px;
    padding: 1em 0 0;
}

#content {
    position: absolute;
    padding-left: 25%;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

.cipherSection {
    font-family: "Courier New", serif;
    font-variant: all-small-caps;
    height: 50%;
    font-size: 100px;
}

#caesarCipherSection {
    background-color: lightgreen;
}

#squareCipherSection {
    background-color: skyblue;
}